.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 50px;
}

img {
    width:20px;
}

button {
    border : none;
    text-decoration: none;
    background-color: #ffff;
}