.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}


img {
    width:20px;
}

button {
    border : none;
    text-decoration: none;
    background-color: #ffff;
}

.lien a{
    text-decoration: none!important;
    color: #703342;
    
}

.lien {
    text-align: center;
    font-size: 50px;
}